<h1>Topics</h1>

<div id="btn-new-topic">
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-primary' %>
</div>

<% @topics.each do |topic| %>
  <h3><%= link_to topic.title, topic %></h3>
<% end %>


  
